@import '@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
--font-sans: ''
}

:root {
--background: 0deg 0% 100%;
--foreground: 0deg 0.02% 3.94%;
--card: 0deg 0% 100%;
--card-foreground: 0deg 0.02% 3.94%;
--popover: 0deg 0% 100%;
--popover-foreground: 0deg 0.02% 3.94%;
--primary: 0deg 0.02% 9.06%;
--primary-foreground: 0deg 0.5% 98.03%;
--secondary: 0deg 0.24% 96.06%;
--secondary-foreground: 0deg 0.02% 9.06%;
// --muted: 0deg 0.24% 96.06%;
// --muted-foreground: 0deg 0.01% 45.16%;
--accent: 0deg 0.24% 96.06%;
--accent-foreground: 0deg 0.02% 9.06%;
--destructive: 351.72deg 100% 40.53%;
--border: 0deg 0.09% 89.82%;
--input: 0deg 0.09% 89.82%;
--ring: 0deg 0.02% 63.02%;
--radius: 0.625rem;
}

:root.dark {
--background: 0deg 0.02% 3.94%;
--foreground: 0deg 0.5% 98.03%;
--card: 0deg 0.02% 9.06%;
--card-foreground: 0deg 0.5% 98.03%;
--popover: 0deg 0.02% 9.06%;
--popover-foreground: 0deg 0.5% 98.03%;
--primary: 0deg 0.09% 89.82%;
--primary-foreground: 0deg 0.02% 9.06%;
--secondary: 0deg 0.01% 14.94%;
--secondary-foreground: 0deg 0.5% 98.03%;
// --muted: 0deg 0.01% 14.94%;
// --muted-foreground: 0deg 0.02% 63.02%;
--accent: 0deg 0% 14.9%;
--accent-foreground: 0deg 0.5% 98.03%;
--destructive: 358.76deg 100% 69.84%;
--border: 0deg 0% 13.73%;
--input: 0deg 0% 18.43%;
--ring: 0deg 0.01% 45.16%;
}

@layer base {
* {
@apply border-border;
}
}


html, body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}